@font-face {
    font-family: "AlexBrush";
    src: url("./alex-brush/AlexBrush-Regular.ttf");
}

@font-face {
    font-family: "ElegantSans";
    src: url("./elegant_sans/Elegant\ Sans\ Regular.ttf");
}

body {
    background-color: rgb(22, 22, 22);
    color: rgb(22, 22, 22);
    text-align: center;
    font-family: "ElegantSans";
    font-size: 24pt;
}

nav {
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    padding: 50px 50px;
}

nav button {
    color: crimson;
    height: auto;
    width: 2em;
    padding: 30px 30px 30px 60px;
    border: none;
    background: none;
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: 0.5em;
    font-size: 22pt;
}

nav button:hover, .clicked{
    color: white;
}

main {
    background-color: floralwhite;
    padding: 30px 100px 100px 100px;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

h1 {
    color: crimson;
    font-family: "AlexBrush";
    font-size: 3.3em;
    font-weight: bold;
    margin: 50px 0px;
}

h2 {
    font-size: 2.5em;
    margin-top: 30px;
}

h3 {
    font-size: 1.8em;
    font-weight: bold;
    margin-top: 2em;
}

#soup, #pizza, #risotto, #chocotorta, #home img, #home p {
    margin: 50px 0px;
}

#soup, #pizza, #risotto, #chocotorta {
    border: double black 10px;
    height: 356px;
    width: 535px;
    object-fit: cover;
}

.contact_div p {
    margin: 30px 0px;
}

#social div {
    display: flex;
    align-items: center;
}

#social img {
    height: 35px;
    width: 35px;
    border-radius: 10px;
    margin: 15px;
}